@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin Ekleme</h1>
<br />
@using (Html.BeginForm("Create", "Authorization", FormMethod.Post))
{
    <div class="mb-3">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUsername, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUsername)
    </div>
    <div class="mb-3">
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
    </div>
    <div class="mb-3">
        @Html.Label("Rölü Seçiniz")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole)
    </div>
    <button class="btn btn-success">
        Kaydet
    </button>
}

